<% layout("/layouts/boilerpalte.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        
    <h3> Edit your Listing</h3>
    <form method="Post" action="/Listings/<%= listing._id %>?_method=PUT" >
         <div class="mb-3">
        <label for="title" class="form-label"> Title</label>
        <input name="Listing[title]" value="<%= listing.title %>" type="text" class="form-control" /> 
       </div>

       <div class="mb-3">
        <label for="title" class="form-label"> Description</label>
        <textarea name="Listing[description]"  type="text" class="form-control"> <%= listing.description %> </textarea>
        </div>

        <div class="mb-3">
        <label for="image" class="form-label"> Image</label>
        <input name="Listing[image]" value="<%=listing.image%>" type="text" class="form-control"> 
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label"> Price</label>
        <input name="Listing[price]" value="<%=listing.price%>" type="Number" class="form-control"> 
       </div>

       <div class="mb-3 col-md-8">
        <label for="location" class="form-label"> Location</label>
        <input name="Listing[location]" value="<%=listing.location%>" type="text" class="form-control"> 
        </div>
        </div>

        <div class="mb-3">
        <label for="country" class="form-label"> Country</label>
        <input name="Listing[country]" value="<%=listing.country%>" type="text" class="form-control"> 
        </div>

        <button class="btn btn-dark edit-btn"> Edit </button>
    </form>
    </div>
</div>

